<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav align-items-content">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Urun/Index">
                            Ürünler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Musteri/Index">
                            Müşteriler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Kategori/Index">
                            Kategoriler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Satis/Index">
                            Satışlar
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="/Admin/Index">
                            Yeni Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Giris/Cikis">
                            Çıkış
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
