
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <form method="post" action="YeniKategori">
        <h2>Yeni Kategori Ekleme</h2>
        <br />
        <label>Kategori Adınızı Giriniz</label>
        <input type="text" name="ad" class="form-control" />
        <br />
        <button class="btn btn-dark" type="submit">Kaydet!</button>
    </form>
</div>